@model Domains.TbOffer
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>  اضافة عروض  التجار </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">عروض التجار </a></li>
                    <li class="breadcrumb-item active">اضافة عروض التجار </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="form" enctype="multipart/form-data" method="post" role="form" asp-area="Admin" asp-controller="Offer" asp-action="Save">
                        




                     
                        <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <section class="content">
                                <div class="container-fluid">
                                    <!-- SELECT2 EXAMPLE -->
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h3 class="card-title">اسم المنتج</h3>


                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>اسم المنتج</label>
                                                        <select asp-for="ProductId" asp-items="@(new SelectList(ViewBag.cities , "ProductId" , "ProductName"))" class="form-control select2" style="width: 100%;" required>
                                                            <option value="">اختر</option>


                                                        </select>
                                                        <span asp-validation-for="ProductId" class="text-danger"></span>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->

                                </div>
                            </section>





                            <section class="content">
                                <div class="container-fluid">
                                    <!-- SELECT2 EXAMPLE -->
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h3 class="card-title">اسم قسم امنتج</h3>


                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>اسم قسم المنتج</label>
                                                        <select asp-for="ProductCategoryId" asp-items="@(new SelectList(ViewBag.productCategories , "ProductCategoryId" , "ProductCategoryName"))" class="form-control select2" style="width: 100%;" required>
                                                            <option value="">اختر</option>


                                                        </select>
                                                        <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->

                                </div>
                            </section>



                            <section class="content">
                                <div class="container-fluid">
                                    <!-- SELECT2 EXAMPLE -->
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h3 class="card-title">اسم التاجر</h3>


                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>اسم التاجر</label>
                                                        <select asp-for="SupplierId" asp-items="@(new SelectList(ViewBag.suppliers , "SupplierId" , "SupplierName"))" class="form-control select2" style="width: 100%;" required>
                                                            <option value="">اختر</option>


                                                        </select>
                                                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->

                                </div>
                            </section>
                            <div class="form-group">
                                <input type="hidden" asp-for="OfferId">
                                <input type="hidden" asp-for="ProductCategoryName">
                                <input type="hidden" asp-for="CreatedDate">
                                <input type="hidden" asp-for="ProductName">
                                <input type="hidden" asp-for="SupplierName">
                              
                            </div>
                            <div class="form-group">

                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <label for="exampleInputPassword1">صورة  المنتج</label>
                                        <input required type="file" name="files" id="selectedFile" />
                                        <div class="text-danger" id="error"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">سعر قبل العرض</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" asp-for="PriceBeforeOffer" placeholder="سعر قبل العرض">
                                <span asp-validation-for="PriceBeforeOffer" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">سعر بعد العرض</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" asp-for="PriceAfterOffer" placeholder="سعر بعد العرض">
                                <span asp-validation-for="PriceAfterOffer" class="text-danger"></span>
                            </div>
                           
                            



                         

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <!-- /.card -->

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script type="application/javascript">
    var a = document.getElementById("inputGroupFile02");
    a.value= "ahmed.txt";
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        //alert("ahmed");
        const logo = document.getElementById('selectedFile');
        const license = document.getElementById('selectedFiles');
        const form = document.getElementById('form')
        const erroElement = document.getElementById('error')
        const erroElement1 = document.getElementById('error1')
        form.addEventListener('submit', (e) => {
            //e.preventDefault();
            let messages = [];
            let messages2 = [];
            if (logo.value === '' || logo.value == null) {
                //alert('ahmed');
                messages.push('This field is required');
                erroElement.innerHTML = messages;
            }
            else {
                messages = [];
                erroElement.innerHTML = messages;

            }
            if (license.value === '' || license.value == null) {
                //alert('ahmed');
                messages2.push('This field is required');
                erroElement1.innerHTML = messages2;
            }
            else {
                messages = [];
                erroElement1.innerHTML = messages2;

            }


        });
    </script>
    }