<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hellow {{userName}},<br />
        click on the following link to confirm your email. <br /> <br />
        <!--<a href="https://localhost:44368/Account/ConfirmEmail?userId={{link1}}&code={{link2}}">Verify Email</a>-->
        <!--<a href="https://system.eibtek.com/Account/ConfirmEmail?userId={{link1}}&code={{link2}}">Verify Email</a>-->
        <a href="https://alsalamtravel.co.uk/Account/ConfirmEmail?userId={{link1}}&code={{link2}}">Verify Email</a>
    </p>

</body>
</html>