<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hellow {{userName}},<br />
        click on the following link to reset password. <br /> <br />
        <!--<a href="https://localhost:44347/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>-->
        <!--<a href="https://system.eibtek.com/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>-->
        <!--<a href=" https://alsalamtravel.co.uk/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>-->
        <a href="https://eibtekone-001-site14.atempurl.com/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>
        <!--<a href="https://localhost:4435/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>-->
        
    </p>
   
</body>
</html>