<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  
    <p>
        <h2>Sender : Admin</h2>
        <div style="color:blue;">noreply@collectsignals.com</div>
        <h2>Title :  New Request</h2>

        <div style="color:blue;"> To    :  support@collectsignals.com</div>
        <h2>Subject...</h2>
        
        <h2>REQUEST DATA</h2>
        <h3>Subscription Type</h3>
        {{Subscription Type}}
        <h3>Subscription Period</h3>
        {{Subscription Period}}
        <h3>Subscription Fee</h3>
        {{Subscription Fee}}
        <h3>PDF</h3>
        {{PDF}}
        <h3>Trading View Username</h3>
        {{Trading View Username}}
        <h3>E-mail</h3>
        {{E-mail}}
        <h3>Total Amount</h3>
        {{Total Amount}}
        <h3>Order ID</h3>
        {{Order ID}}




    </p>

</body>
</html>